.profile__info {
  align-self: center;
  display: grid;
  max-height: 73px;
  grid-template-columns: 1fr 24px;
  grid-column-gap: 18px;
  grid-row-gap: 16px;
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    grid-template-columns: 1fr 18px;
    grid-column-gap: 10px;
    grid-row-gap: 14px;
  }
}
