.profile {
  display: flex;
  padding: 40px 0 0 0;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .profile {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 42px 19px 0 19px;
    width: calc(100% - (19px + 19px));
  }
}
