.cards__like-button_active {
  background-color: transparent;
  background-image: url("../../../../images/heart_icon-enabled.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  height: 19px;
  margin: 0 30px 0 0;
  min-width: 22px;
}

.cards__like-button:hover {
  cursor: pointer;
  opacity: .6;
}
