.cards__title {
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  margin: 0;
  max-width: 250px;
  overflow: hidden;
  padding-left: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 21px);
}
