.profile__avatar {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 120px;
  justify-content: center;
  margin: 0;
  width: 120px;
  transition: all .2s ease-in-out;
}

.profile__avatar:hover {
  cursor: pointer;
  opacity: .2;
}

@media screen and (max-width: 1023px) {
  .profile__avatar {
    margin: 0 0 20px 0;
  }
}
