.popup__close-button {
  align-self: center;
  background: url("../../../images/close_icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  outline: 0;
  cursor: pointer;
  height: 32px;
  width: 32px;
  margin: 0;
  position: absolute;
  right: -40px;
  top: -40px;
  transition: 0.1s linear;
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 600px) {
  .popup__close-button {
    right: 0;
    top: -40px;
    height: 20px;
    width: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
  }
}
