.cards__like-button {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../../images/heart_icon-disabled.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  height: 19px;
  margin: 0 30px 0 0;
  min-width: 22px;
  padding: 0;
}

.cards__like-button:hover {
  cursor: pointer;
  opacity: .6;
}
