.popup {
  display: flex;
  align-items: center;
  bottom: 0;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  visibility: hidden;
  transition: visibility .5s, opacity .5s;
  background: rgba(0, 0, 0, .9);
}
